html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-size: 62.5%;
    color: var(--primary);
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
}

::-moz-selection {
    background: #bdd2b6;
}

::selection {
    background: #bdd2b6;
}

:root {
    --background: #fff;
    --primary: #353535;
    --light-grey: #f6f6f6;
    --pad: 0.7vw;
    --fast: 600ms;
    --ease: cubic-bezier(0.77, 0, 0.18, 1);
}

main {
    padding: 0 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: #868686;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.flex-space-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pt2 {
    padding-top: 2rem;
}

.td-underline {
    text-decoration: underline;
}

ul {
    margin: 0;
    -webkit-padding-start: 3rem;
    padding-inline-start: 3rem;
}

ul li {
    padding: 0.2rem 0;
}

#jazz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-bottom: 10vh;
}

#jazz #logo {
    cursor: pointer;
}

#jazz #logo:hover {
    text-decoration: none;
}

#jazz #logo svg {
    padding: 0 0.2rem;
}

#jazz #logo svg polygon {
    fill: var(--primary);
}

#jazz #domain {
    padding: 0 0.5rem;
}

#jazz #about #where {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    cursor: pointer;
}

#jazz #about #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 5rem;
}

#jazz #about #contact p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

#where .location {
    padding: 0 1rem;
}

#postrock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#postrock #name {
    /* font-family: 'Russo One', sans-serif; */
    /* font-family: 'Audiowide', sans-serif; */
    /* font-family: 'Black Ops One', sans-serif; */
    font-family: 'Saira Stencil One', sans-serif;
    font-size: 10vw;
    font-weight: bold;
    margin-bottom: 4rem;
}

#postrock #resume {
    font-size: 1.6rem;
    margin-bottom: 20vh;
}

#postrock #resume .chapter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#postrock #resume .chapter .chapter-title {
    font-weight: bold;
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 15vw;
    border-top: 1px solid var(--primary);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    cursor: pointer;
}

#postrock #resume .chapter .sections {
    width: 65vw;
}

#postrock #resume .chapter .sections .section {
    border-top: 1px solid var(--primary);
}

#postrock #resume .chapter .sections .section .title {
    font-weight: bold;
    padding: 2rem 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#postrock #resume .chapter .sections .section .title .where_when {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#postrock #resume .chapter .sections .section .title .where_when .where {
    visibility: hidden;
    opacity: 0.8;
}

#postrock #resume .chapter .sections .section .title .where_when .where.vis {
    visibility: visible;
}

#postrock #resume .chapter .sections .section .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all var(--fast) var(--ease);
    transition: all var(--fast) var(--ease);
}

#postrock #resume .chapter .sections .section .details.vis {
    padding-bottom: 2rem;
    max-height: 24rem;
}

#postrock #copyright {
    font-size: 1.6rem;
    margin-bottom: 7rem;
}

@media screen and (max-width: 1024px) {
    #jazz {
        padding-bottom: 10vh;
    }
    #postrock {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 0;
    }
    #postrock #name {
        font-size: 22vw;
        margin-bottom: 2rem;
    }
    #postrock #resume {
        width: calc(100vw - 5rem);
        padding: 0;
    }
    #postrock #resume .chapter .chapter-title {
        width: 25vw;
    }
    #postrock #resume .chapter .sections {
        width: 75vw;
    }
    #postrock #copyright {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 0 1rem;
    }
    #postrock {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 0;
    }
    #postrock #name {
        font-size: 22vw;
        margin-bottom: 2rem;
    }
    #postrock #resume {
        width: calc(100vw - 2rem);
        margin-bottom: 10vh;
    }
    #postrock #resume .chapter .chapter-title {
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding-right: 1rem;
    }
    #postrock #resume .chapter .sections {
        width: 90vw;
    }
    #postrock #copyright {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 480px) {
    #jazz {
        padding-bottom: 10vh;
    }
    #jazz #domain {
        display: none;
    }
    #jazz #contact {
        font-size: 1.4rem;
    }
    #postrock #name {
        font-size: 20vw;
        margin-bottom: 2rem;
    }
    #postrock #resume {
        padding: 0;
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }
    #postrock #resume .chapter .chapter-title {
        font-size: 2rem;
    }
    #postrock #resume .where_when {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    #postrock #resume .where_when .where {
        display: none;
    }
}

#postrock #name :hover{
    color: var(--primary);
}
#postrock #name {
    animation: uk-text-shadow-glitch .65s cubic-bezier(1, -1.91, 0, 2.79) 0s infinite normal both running;
}

@keyframes uk-text-shadow-glitch {
    0% {
        text-shadow: none
    }
    25% {
        text-shadow: -2px -2px 0 #ff004f, 2px 2px 0 #00f7ef
    }
    50% {
        text-shadow: 2px -2px 0 #ff004f, -2px 2px 0 #00f7ef
    }
    75% {
        text-shadow: -2px 2px 0 #ff004f, 2px -2px 0 #00f7ef
    }
    100% {
        text-shadow: 2px 2px 0 #ff004f, -2px -2px 0 #00f7ef
    }
}

@keyframes uk-flicker {
    0% {
        opacity: 0
    }
    10% {
        opacity: .6;
        transform: scale(.8)
    }
    20% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    50% {
        opacity: .2;
        transform: scale(1.1)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}
