body {
    cursor: url(https://cdn.itbob.cn/img/mouse/normal_select.cur),auto
}

a {
    cursor: url(https://cdn.itbob.cn/img/mouse/link_select.cur),auto
}

a:active {
    cursor: url(https://cdn.itbob.cn/img/mouse/person_select.cur),auto
}

p {
    cursor: url(https://cdn.itbob.cn/img/mouse/normal_select.cur),auto
}
