@font-face {
  font-family: 'OxaniumRegular';
  src: url('//cdn.itbob.cn/font/OxaniumRegular.ttf');
}
:root {
  --body: #f4f4f4;
  --theme-first: #ffffff;
  --theme-second: #ffffff;
  --content-first: #343a40;
  --content-second: #adb5bd;
  --content-code: #f9f2f4;
  --border: #dfe2e5;
  --accent-first: #00838f;
  --accent-second: #8b959f66;
}
/* 滚动条 */
::-webkit-scrollbar-thumb {
  background-color: var(--accent-first);
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
  border-radius: 3em;
}
::-webkit-scrollbar-track {
  background-color: var(--border);
  border-radius: 3em;
}
::-webkit-scrollbar {
  width: 12px;
  height: 15px;
}
.gt-bg-theme-color-first {
  background: var(--theme-first);
}
.gt-bg-theme-color-second {
  background: var(--theme-second);
}
.gt-bg-content-color-first {
  background: var(--content-first);
}
.gt-bg-content-color-second {
  background: var(--content-second);
}
.gt-bg-accent-color-first {
  background: var(--accent-first);
}
.gt-bg-accent-color-second {
  background: var(--accent-second);
}
.gt-c-theme-color-first {
  color: var(--theme-first);
}
.gt-c-theme-color-second {
  color: var(--theme-second);
}
.gt-c-content-color-first {
  color: var(--content-first);
}
.gt-c-content-color-second {
  color: var(--content-second);
}
.gt-c-accent-color-first {
  color: var(--accent-first);
}
.gt-c-accent-color-second {
  color: var(--accent-second);
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
*:focus {
  outline-width: 0px;
}
*:focus-visible {
  outline-width: 1px;
}
html {
  font-size: 58%;
}
body {
  background-color: var(--body);
  font-family: 'Open Sans', 'PingFang SC', -apple-system, BlinkMacSystemFont, opensans, Optima, 'Microsoft Yahei', sans-serif;
  font-size: 16px;
  letter-spacing: 1.0382px;
}
button {
  outline: none !important;
}
a {
  text-decoration: none !important;
  transition: all 0.3s;
}
body,
div,
a,
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol li {
  list-style: decimal;
  font-size: 16px;
}
ul li {
  list-style: disc;
  font-size: 16px;
}
hr {
  margin: 1rem 0px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.main {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(76, 76, 76, 0) !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.06'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}
.main .main-content {
  flex: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.navbar {
  padding: 38px 96px !important;
}
.navbar .navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar-brand .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /**************************/
  /* 自定义，文章作者头像旋转 */
  /**************************/
  -webkit-transform: rotate(360deg);
  /* Safari 和 Chrome */
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -moz-transform: rotate(360deg);
  /* Firefox */
  -o-transform: rotate(360deg);
  /* Opera */
  transform: rotate(360deg);
  -webkit-animation: rotation 3s linear infinite;
  -ms-animation: rotation 3s linear infinite;
  -moz-animation: rotation 3s linear infinite;
  -o-animation: rotation 3s linear infinite;
  animation: rotation 3s linear infinite;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes rotation {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar .navbar-brand .site-name {
  font-size: 28px !important;
  font-weight: bold;
  margin-left: 16px;
}
.navbar .navbar-nav {
  width: 100%;
  justify-content: flex-end;
}
.navbar .navbar-nav .nav-item {
  padding: 14px 26px;
}
.navbar .navbar-nav .nav-item a {
  font-size: 18px;
  flex-shrink: 0;
}
@media (max-width: 992px) {
  .navbar {
    padding: 30px 30px 0 30px !important;
    margin-bottom: 30px;
  }
  .navbar .navbar-brand .user-avatar {
    width: 31px;
    height: 31px;
    border-radius: 50%;
  }
  .navbar .navbar-brand .site-name {
    font-size: 21px !important;
    font-weight: bold;
  }
  .navbar .nav-item {
    padding: 16px 24px;
  }
  .navbar .nav-item:first-child {
    margin-top: 35px;
  }
}
@media (min-width: 992px) {
  .navbar {
    max-width: 950px;
    align-items: center !important;
    align-self: center !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-width: 950px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  #navbarSupportedContent {
    display: none;
  }
}
.site-footer {
  font-size: 14px;
  padding: 24px;
  max-width: 1000px;
  text-align: center;
  align-self: center;
  margin: 0 auto;
  font-family: 'OxaniumRegular';
}
.site-footer a {
  color: var(--content-first) !important;
}
.site-footer a:hover {
  color: var(--accent-first) !important;
  font-weight: bold;
}
@media (max-width: 992px) {
  .site-footer {
    display: none;
  }
}
/*************************/
/* 自定义，github徽章样式 */
/*************************/
.itbob-github-badge {
  /* display: inline-block; */
  display: inline-table;
  border-radius: 4px;
  text-shadow: none;
  font-size: 12px;
  color: #fff;
  line-height: 15px;
  background-color: #ABBAC3;
  font-family: 'Open Sans', 'PingFang SC', -apple-system, BlinkMacSystemFont, opensans, Optima, 'Microsoft Yahei', sans-serif;
}
.itbob-github-badge .badge-subject {
  display: inline-block;
  background-color: #4D4D4D;
  padding: 4px 4px 4px 6px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.itbob-github-badge .badge-value {
  display: inline-block;
  padding: 4px 6px 4px 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.itbob-github-badge .bg-brightgreen {
  background-color: #4DC820 !important;
}
.itbob-github-badge .bg-orange {
  background-color: #FFA500 !important;
}
.itbob-github-badge .bg-yellow {
  background-color: #D8B024 !important;
}
.itbob-github-badge .bg-blueviolet {
  background-color: #8833D7 !important;
}
.itbob-github-badge .bg-pink {
  background-color: #F26BAE !important;
}
.itbob-github-badge .bg-red {
  background-color: #e05d44 !important;
}
.itbob-github-badge .bg-blue {
  background-color: #007EC6 !important;
}
.itbob-github-badge .bg-lightgrey {
  background-color: #9F9F9F !important;
}
.itbob-github-badge .bg-grey,
.github-badge .bg-gray {
  background-color: #555 !important;
}
.itbob-github-badge .bg-lightgrey,
.github-badge .bg-lightgray {
  background-color: #9f9f9f !important;
}
.post-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-list-container .post-inner {
  min-width: 1000px;
  max-width: 1000px;
}
.post-list-container .post-inner .post {
  margin: 30px;
  border-radius: 4px;
  padding: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}
.post-list-container .post-inner .post .post-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.post-list-container .post-inner .post .post-left code {
  color: #bfbfbf;
  font-family: Consolas;
  background: none !important;
  padding: 0;
  margin: 0;
}
.post-list-container .post-inner .post .post-left .sticky-top-flag {
  color: white;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 3px;
  margin-right: 10px;
  vertical-align: middle;
}
.post-list-container .post-inner .post .post-left .post-title {
  font-size: 22px;
  font-weight: normal;
  vertical-align: middle;
}
.post-list-container .post-inner .post .post-left .post-abstract {
  width: 100%;
  margin-top: 20px;
  line-height: 1.5;
}
.post-list-container .post-inner .post .post-left .post-abstract * {
  font-size: 13px;
  margin-bottom: 0;
}
.post-list-container .post-inner .post .post-left .post-info {
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.post-list-container .post-inner .post .post-left .post-info .post-tag,
.post-list-container .post-inner .post .post-left .post-info .post-category {
  padding-right: 5px;
  color: var(--accent-first);
}
.post-list-container .post-inner .post .post-left .post-info a {
  color: var(--accent-first);
}
.post-list-container .post-inner .post:hover {
  transform: scale(1.05);
}
.post-list-container .post-inner .post .post-feature-image {
  width: 200px;
  height: 100px;
  flex-basis: 200px;
  flex-shrink: 0;
  margin-left: 20px;
  border-radius: 2px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
@media (max-width: 992px) {
  .post-list-container .post-inner {
    min-width: 0;
    width: 100%;
    margin-top: 16px;
  }
  .post-list-container .post-inner .post {
    margin: 12px 16px 12px 16px;
    padding: 18px 22px 18px 22px;
  }
  .post-list-container .post-inner .post .post-left .post-title {
    font-size: 17px;
    font-weight: bold;
  }
  .post-list-container .post-inner .post .post-left .post-abstract {
    margin-top: 10px;
  }
  .post-list-container .post-inner .post .post-left .post-info {
    margin-top: 10px;
  }
  .post-list-container .post-inner .post .post-feature-image {
    width: 0;
    height: 0;
    flex-basis: 0;
    flex-shrink: 0;
    margin-left: 0;
    border-radius: 2px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
}
.pagination-container {
  padding: 24px 32px 32px;
  align-self: center;
}
.pagination-container .prev-page {
  margin: 0 16px;
  font-size: 14px;
}
.pagination-container .next-page {
  margin: 0 16px;
  font-size: 14px;
}
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1;
}
.post-container .post-detail {
  flex: 1;
  padding: 24px 32px;
  width: 1000px;
  border-radius: 5px;
}
.post-container .post-detail .post-title {
  font-size: 26px;
  text-align: center;
  padding: 24px;
  font-weight: normal;
}
.post-container .post-detail .post-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 24px;
}
.post-container .post-detail .post-info .post-tag {
  padding-right: 5px;
}
.post-container .post-detail .post-toc {
  margin-bottom: 30px;
}
.post-container .post-detail .post-toc h2 {
  display: inline-block;
  background: linear-gradient(180deg, transparent 75%, rgba(139, 149, 159, 0.4) 0) !important;
}
.post-container .post-detail .post-toc ul {
  margin: 0px;
}
.post-container .post-detail .post-toc .markdownIt-TOC {
  padding: 0px;
}
.post-container .post-detail .post-toc .markdownIt-TOC li {
  list-style: none;
  margin: 0px;
}
.post-container .post-detail .post-toc .markdownIt-TOC li ul li {
  list-style-type: disc;
  margin: 0px;
}
.post-container .post-detail .post-toc .markdownIt-TOC li ul li a {
  color: var(--content-first) !important;
}
.post-container .post-detail .post-content {
  margin-top: 30px;
}
.post-container .post-detail .post-content h1,
.post-container .post-detail .post-content h2,
.post-container .post-detail .post-content h3,
.post-container .post-detail .post-content h4,
.post-container .post-detail .post-content h5,
.post-container .post-detail .post-content h6 {
  display: table !important;
}
.post-container .post-detail .post-content h2,
.post-container .post-detail .post-content h3 {
  display: inline-block;
  color: var(--content-first) !important;
  position: relative !important;
  background: linear-gradient(180deg, transparent 75%, #4dabf766 0) !important;
}
@media (max-width: 992px) {
  .post-container .post-detail {
    width: 100%;
    margin-top: 20px;
  }
  .post-container .post-detail .post-title {
    font-size: 20px;
    font-weight: bold;
  }
}
.post-container details {
  background: var(--accent-second);
  border-radius: 5px;
  padding: 10px 20px;
}
.post-container details summary {
  user-select: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--accent-second);
  margin: -10px -20px;
}
.post-container details[open] summary {
  border-radius: 5px 5px 0px 0px;
  margin: -10px -20px 15px -20px;
}
.post-container details p {
  font-size: 14px;
}
.gt-a-link {
  color: var(--content-first) !important;
  position: relative !important;
  background: linear-gradient(180deg, transparent 75%, #4dabf766 0) !important;
}
.gt-post-content {
  word-break: normal;
  word-wrap: break-word;
}
.gt-post-content a,
.gt-post-content a code {
  color: var(--accent-first) !important;
  transition: all 0.3s;
}
.gt-post-content a:hover {
  text-decoration: underline !important;
}
.gt-post-content .post-toc + hr {
  margin-bottom: calc(1rem + 18px);
}
.gt-post-content img {
  display: block;
  max-width: 100%;
  border-radius: 3px;
  margin: 18px auto;
}
.gt-post-content p {
  line-height: 1.725;
  margin-bottom: 18px;
  font-size: 16px;
  letter-spacing: 1.0382px;
}
.gt-post-content pre {
  margin-bottom: 18px;
}
.gt-post-content blockquote {
  padding: 16px;
  border: 0;
  border-left: 4px;
  border-style: solid;
  margin-bottom: 16px;
  background: var(--accent-second) !important;
  border-color: var(--accent-first) !important;
}
.gt-post-content blockquote p {
  margin-bottom: 0;
}
.gt-post-content table {
  border-collapse: collapse;
  margin: 1rem 0;
  overflow-x: auto;
  display: table;
  width: 100%;
}
.gt-post-content table thead th {
  text-align: left;
}
.gt-post-content table tr {
  border-top: 1px solid var(--border);
}
.gt-post-content table td,
.gt-post-content table th {
  border: 1px solid var(--border);
  padding: 0.6em 1em;
}
.gt-post-content ul,
.gt-post-content ol {
  padding-left: 20px;
  line-height: 1.725;
  margin-bottom: 16px;
}
.gt-post-content h1,
.gt-post-content h2,
.gt-post-content h3,
.gt-post-content h4,
.gt-post-content h5,
.gt-post-content h6 {
  margin-bottom: 18px;
  padding-top: 14px;
  font-weight: bold;
}
.gt-post-content h1 {
  font-size: 28px;
}
.gt-post-content h2 {
  font-size: 24px;
}
.gt-post-content h3 {
  font-size: 20px;
}
.gt-post-content h4 {
  font-size: 18px;
}
.gt-post-content h5 {
  font-size: 16px;
}
.gt-post-content h6 {
  font-size: 14px;
}
.gt-post-content pre {
  margin-bottom: 18px;
  margin-right: 32px;
}
.gt-post-content pre > code {
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Roboto Mono', Consolas, Menlo, Monaco, 'Source Code Pro', 'Courier New', monospace;
  padding: 1em;
  border-radius: 5px;
  line-height: 1.375;
  position: relative;
  width: 100%;
  overflow: scroll;
  display: block;
}
.gt-post-content p code,
.gt-post-content li code,
.gt-post-content table code {
  letter-spacing: 0px;
  color: #c7254e;
  font-family: 'Roboto Mono', Consolas, Menlo, Monaco, 'Source Code Pro', 'Courier New', monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: #f9f2f4;
  border-radius: 6px;
  word-break: break-all;
}
.post-detail {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.next-prev-post {
  text-align: center;
  padding: 24px 32px;
}
.next-prev-post .next-post .next {
  margin-bottom: 24px;
  font-size: 14px;
}
.next-prev-post .next-post .post-title {
  font-size: 16px;
  font-weight: bold;
}
.next-prev-post .prev-post .prev {
  margin-bottom: 24px;
  font-size: 14px;
}
.next-prev-post .prev-post .post-title {
  font-size: 16px;
  font-weight: bold;
}
.archives-container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  align-self: center;
  max-width: 1000px;
  min-width: 1000px;
}
.archives-container .year {
  font-size: 34px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
  align-self: start;
}
.archives-container .post {
  padding: 10px 0;
}
.archives-container .post .post-title {
  font-size: 16px;
}
.archives-container .post .post-title small {
  font-size: 80%;
}
.archives-container .post .post-title .archives-post-title {
  display: inline-block;
  margin-left: 20px;
}
.archives-container a:hover {
  text-decoration: none !important;
  color: var(--accent-first) !important;
}
@media (max-width: 600px) {
  .archives-container {
    padding: 16px !important;
  }
}
@media (max-width: 992px) {
  .archives-container {
    min-width: 0px !important;
  }
}
.current-tag-container .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .current-tag-container .title {
    margin-top: 50px;
  }
}
.tags-container {
  padding: 32px 32px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  align-self: center;
}
.tags-container .tag {
  font-size: 18px;
  margin: 5px 15px;
}
.friend-box {
  float: left;
  max-width: calc(50% - 20px);
  min-width: calc(50% - 20px);
  margin: 15px 10px;
  background-color: rgba(20, 153, 196, 0.125);
  padding: 15px;
  border-radius: 15px;
}
.friend-box img.friend-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
  float: left;
  margin: 0 15px 0 0 !important;
}
.friend-box .friend-info {
  height: 70px;
  overflow: hidden;
  line-height: 24px;
  padding-left: 30px;
  font-size: 14px;
}
.friend-box .friend-info a {
  text-decoration: none !important;
  font-size: 18px;
  background: linear-gradient(180deg, transparent 75%, rgba(116, 192, 252, 0.4) 0);
  margin-bottom: 10px;
}
.friend-box .friend-info .friend-info-description {
  margin-top: 10px;
}
@media (max-width: 465px) {
  .friend-box .friend-info .friend-info-description {
    display: none;
  }
}
@media (max-width: 993px) {
  .friend-box {
    max-width: 90% !important;
    min-width: 90% !important;
  }
}
#disqus_thread {
  padding: 24px 32px;
  width: 80%;
  max-width: 1000px;
}
@media (max-width: 992px) {
  #disqus_thread {
    padding: 24px 32px;
    width: 100%;
  }
}
#disqus_thread ul li {
  list-style: none;
}
#dsqjs {
  font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont, opensans, Optima, 'Microsoft Yahei', sans-serif;
}
#gitalk-container {
  width: 80%;
  max-width: 1000px;
}
@media (max-width: 992px) {
  #gitalk-container {
    width: 100%;
  }
}
#vcomments {
  width: 80%;
  max-width: 1000px;
}
@media (max-width: 992px) {
  #vcomments {
    width: 100%;
  }
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #eeeeee;
}
.hljs .hljs-comment,
.hljs .hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
.hljs .hljs-doctag,
.hljs .hljs-formula,
.hljs .hljs-keyword {
  color: #a626a4;
}
.hljs .hljs-deletion,
.hljs .hljs-name,
.hljs .hljs-section,
.hljs .hljs-selector-tag,
.hljs .hljs-subst {
  color: #e45649;
}
.hljs .hljs-literal {
  color: #0184bb;
}
.hljs .hljs-addition,
.hljs .hljs-attribute,
.hljs .hljs-meta-string,
.hljs .hljs-regexp,
.hljs .hljs-string {
  color: #50a14f;
}
.hljs .hljs-built_in,
.hljs .hljs-class .title {
  color: #c18401;
}
.hljs .hljs-attr,
.hljs .hljs-number,
.hljs .hljs-selector-attr,
.hljs .hljs-selector-class,
.hljs .hljs-selector-pseudo,
.hljs .hljs-template-variable,
.hljs .hljs-type,
.hljs .hljs-variable {
  color: #986801;
}
.hljs .hljs-bullet,
.hljs .hljs-link,
.hljs .hljs-meta,
.hljs .hljs-selector-id,
.hljs .hljs-symbol,
.hljs .hljs-title {
  color: #4078f2;
}
.hljs .hljs-emphasis {
  font-style: italic;
}
.hljs .hljs-strong {
  font-weight: 700;
}
.hljs .hljs-link {
  text-decoration: underline;
}
.hljs::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
.hljs::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #cbcbcb !important;
}
.hljs::-webkit-scrollbar-track-piece,
.hljs::-webkit-scrollbar-corner {
  background: #eeeeee !important;
}
body {
  cursor: url(https://cdn.itbob.cn/img/mouse/normal_select.cur), auto;
}
a {
  cursor: url(https://cdn.itbob.cn/img/mouse/link_select.cur), auto;
}
a:active {
  cursor: url(https://cdn.itbob.cn/img/mouse/person_select.cur), auto;
}
p {
  cursor: url(https://cdn.itbob.cn/img/mouse/normal_select.cur), auto;
}
.sidebar_wo {
  position: fixed;
  line-height: 0;
  bottom: 0;
  z-index: 1000;
}
#leimu {
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate(-7px, 7px);
  -ms-transform: translate(-7px, 7px);
  transform: translate(-7px, 7px);
}
#lamu {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate(7px, 7px);
  -ms-transform: translate(7px, 7px);
  transform: translate(7px, 7px);
  right: 0;
}
#leimu:hover {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#lamu:hover {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.sidebar_wo img {
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .sidebar_wo {
    display: none;
  }
}
.back-to-top {
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -khtml-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  text-align: center;
  z-index: 9;
  position: fixed;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  bottom: 100px;
  right: 32px;
  transform: translateY(100px) scale(0);
  -webkit-transform: translateY(100px) scale(0);
  -khtml-transform: translateY(100px) scale(0);
  -moz-transform: translateY(100px) scale(0);
  -o-transform: translateY(100px) scale(0);
  -ms-transform: translateY(100px) scale(0);
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  -khtml-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -o-transform-origin: bottom;
  -ms-transform-origin: bottom;
}
@media screen and (max-width: 768px) {
  .back-to-top {
    right: 16px;
  }
}
.back-to-top.show {
  transform: translateY(0) scale(1);
  -webkit-transform: translateY(0) scale(1);
  -khtml-transform: translateY(0) scale(1);
  -moz-transform: translateY(0) scale(1);
  -o-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
}
.back-to-top.show.hl {
  background: var(--accent-first);
  color: var(--body);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .back-to-top:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -khtml-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    border-radius: 25%;
    -webkit-border-radius: 25%;
    background: var(--accent-first);
    color: var(--body);
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1), 0 4px 8px 0px rgba(0, 0, 0, 0.1), 0 8px 16px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1), 0 4px 8px 0px rgba(0, 0, 0, 0.1), 0 8px 16px 0px rgba(0, 0, 0, 0.1);
  }
  .back-to-top:hover.hl {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1), 0 4px 8px 0px rgba(0, 0, 0, 0.1), 0 8px 16px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1), 0 4px 8px 0px rgba(0, 0, 0, 0.1), 0 8px 16px 0px rgba(0, 0, 0, 0.1);
  }
}
.text-roll {
  text-align: center;
}
.text-roll p {
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}
.text-roll p span {
  font-weight: 700;
  font-size: 3.7em;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url(https://cdn.itbob.cn/img/text-roll.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
